html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

ul {
  list-style: none;
}

/* Navbar */

#header .logo {
  letter-spacing: 1px;
  font-size: 28px;
}

#header nav li {
  letter-spacing: 0.4px;
  padding: 8px;
}
#header nav li a{
  position: relative;
  padding: 0 !important;
}
#header nav li a.nav-link::before {
  content: " ";
  position: absolute;
  height: 2px;
  bottom: -6px;
  left: 0;
  width:0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out ;
}

#header nav li:hover>a.nav-link::before,
#header nav li a.nav-link.active::before {
  visibility: visible;
  width: 100%;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% + 10px);
}

.navbar .dropdown:hover ul.frist{
  visibility: visible;
  opacity: 1;
}

.navbar .dropdown .dropdown:hover ul {
  visibility: visible;
  opacity: 1;
}

.navbar .dropdown ul.frist a:hover{
  color: #007aff !important;
}


/* Home Bage */

#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover cover;
  background-position: center;
}

#home .container h1 {
  font-size: 3rem;
}

#home .container p {
  font-size: 1.5rem;
}

#home .container p::after {
  content: "|";
  padding-left: 20px;
  color: white;
  animation: typing infinite 15s;
}

/* About Bage */

#about .container .about-row,
#contact .container .cont {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

#about .container img {
  vertical-align: middle;
  margin-left: 10px;
}

#about .container li span {
  font-size: 1.1rem;
}

#about .container .skill .s-p {
  height: 0.7rem;
  background-color: #cde1f8 !important;
}

#about .container h2::before,
#contact .container h2::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}

/* Sevices Bage */

#services .container .line,
#work .container .line,
#blog .container .line {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
}

#services .container .services-icon span {
  width: 120px;
  height: 120px;
  border-width: 10px !important;
  transition: all 500ms ease;
}

#services .container .service-box:hover span {
  color: #fff !important;
  background-color: #0078ff;
  border: 10px solid #cde1f8 !important;
}

#services .container .services-icon span i {
  font-size: 40px;
}

#services .container .service-box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 13px 8px -10px;
}

/*  Amount Bage  */

.amount {
  background-image: linear-gradient(rgba(0, 119, 255, 0.6) 50%, rgba(0, 119, 255, 0.6) 50%), url("../images/post-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.amount .container .counter-icon span {
  height: 60px;
  width: 60px;
  box-shadow: 0 0 0 10px #cde1f8 !important;
}

.amount .container .container-icon span i {
  color: #cde1f8;
}

/* Work Bage */

#work .container .work-box,
#blog .container .card-blog,
#contact {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2);
}

#work .container .work-box:hover img {
  transform: scale(1.3);
}

#work .container .work-img img {
  transition: all 1s;
}

/* testimonial Bage */

.testimonial,
#contact {
  background-image: linear-gradient(rgba(0, 123, 255, 0.75) 50%, rgba(0, 123, 255, 0.75) 50%), url("../images/overlay-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.testimonial button {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50% !important;
  margin-inline: 4px !important;
}

/* Blog Bage */

#blog .card-blog .card-category-box {
  position: absolute;
  top: -16px;
  left: 15px;
  right: 15px;
}

#blog .card-blog .card-category-box .card-category h6 {
  font-size: 0.7rem !important;
}

#blog .card-blog .card-footer img {
  width: 32px;
  height: 32px;
  overflow: hidden;
}

#blog .card-blog .card-body a,
#blog .card-blog .card-footer span {
  transition: all 0.5s ease-in-out;
}

#blog .card-blog .card-body a:hover,
#blog .card-blog .card-footer a:hover span {
  color: #0078ff !important;
}

/* Contact Bage */

#contact .container form input,
#contact .container form textarea {
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.5;
  transition: all .15s ease-in-out;
}

#contact .container form textarea {
  min-height: 38px;
  resize: vertical;
}

#contact .container form button {
  border-color: transparent !important;
  background-color: #0088ff !important;
  font-size: 1.2rem;
  transition: 0.4s;
}

#contact .container form button:hover {
  background-color: #039eff !important;
  box-shadow: 0 0 0 5px #cde1f8 !important;
}

#contact .container li a span.icon-circle {
  height: 40px;
  width: 40px;
  color: #000;
  font-size: 1.2rem;
  box-shadow: 0 0 0 3px #0078ff;
  transition: all 500ms ease;
}

#contact .container li a span.icon-circle:hover {
  color: #fff !important;
  background-color: #0078ff;
  box-shadow: 0 0 0 3px #cde1f8;
}

/* Footer */

footer {
  background-color: #0062d3;
}

@media screen and (min-width: 768px) {
  #home .container h1 {
    font-size: 4.5rem;
  }

  #home .container p {
    font-size: 2.5rem;
  }
}


@keyframes typing {
  0% {
    content: "|";
  }

  1% {
    content: "D|";
  }

  2% {
    content: "De|";
  }

  3% {
    content: "Des|";
  }

  4% {
    content: "Desi|";
  }

  5% {
    content: "Desig|";
  }

  6% {
    content: "Design|";
  }

  7% {
    content: "Designe|";
  }

  8% {
    content: "Designer|";
  }

  10% {
    content: "Designer";
  }

  12% {
    content: "Designer|";
  }

  14% {
    content: "Designer ";
  }

  16% {
    content: "Designer|";
  }

  17% {
    content: "Designe|";
  }

  18% {
    content: "Design|";
  }

  19% {
    content: "Desig|";
  }

  20% {
    content: "Desi|";
  }

  21% {
    content: "Des|";
  }

  22% {
    content: "De|";
  }

  23% {
    content: "Dev|";
  }

  24% {
    content: "Deve|";
  }

  25% {
    content: "Devel|";
  }

  26% {
    content: "Develo|";
  }

  27% {
    content: "Develop|";
  }

  28% {
    content: "Develope|";
  }

  29% {
    content: "Developer|";
  }

  31% {
    content: "Developer ";
  }

  33% {
    content: "Developer|";
  }

  35% {
    content: "Developer";
  }

  37% {
    content: " Developer|";
  }

  38% {
    content: "Develope|";
  }

  39% {
    content: "Develop|";
  }

  40% {
    content: "Develo|";
  }

  41% {
    content: "Devel|";
  }

  42% {
    content: "Deve|";
  }

  43% {
    content: "Dev|";
  }

  44% {
    content: "De|";
  }

  45% {
    content: "D|";
  }

  46% {
    content: "|";
  }

  47% {
    content: "F|";
  }

  48% {
    content: "Fr|";
  }

  49% {
    content: "Fre|";
  }

  50% {
    content: "Free|";
  }

  51% {
    content: "Freel|";
  }

  52% {
    content: "Freela|";
  }

  53% {
    content: "Freelan|";
  }

  54% {
    content: "Freelanc|";
  }

  55% {
    content: "Freelance|";
  }

  56% {
    content: "Freelancer|";
  }

  58% {
    content: "Freelancer";
  }

  60% {
    content: "Freelancer|";
  }

  62% {
    content: "Freelancer";
  }

  64% {
    content: "Freelancer|";
  }

  65% {
    content: "Freelance|";
  }

  66% {
    content: "Freelanc|";
  }

  67% {
    content: "Freelan|";
  }

  68% {
    content: "Freela|";
  }

  69% {
    content: "Freel|";
  }

  70% {
    content: "Free|";
  }

  71% {
    content: " Fre|";
  }

  72% {
    content: "Fr|";
  }

  73% {
    content: " F| ";
  }

  74% {
    content: " | ";
  }

  75% {
    content: "P|";
  }

  76% {
    content: "Ph|";
  }

  77% {
    content: "Pho|";
  }

  78% {
    content: "Phot|";
  }

  79% {
    content: "Photo|";
  }

  80% {
    content: "Photog|";
  }

  81% {
    content: "Photogr|";
  }

  82% {
    content: "Photogra|";
  }

  83% {
    content: "Photograp|";
  }

  84% {
    content: "Photograph|";
  }

  85% {
    content: "Photographe|";
  }

  86% {
    content: "Photographer|";
  }

  88% {
    content: "Photographer";
  }

  90% {
    content: "Photographer|";
  }

  91% {
    content: "Photographe|";
  }

  92% {
    content: "Photograph|";
  }

  93% {
    content: "Photograp|";
  }

  94% {
    content: "Photogra|";
  }

  95% {
    content: "Photogr|";
  }

  96% {
    content: "Photog|";
  }

  97% {
    content: "Photo|";
  }

  98% {
    content: "Pho|";
  }

  99% {
    content: "Ph|";
  }

  100% {
    content: "P|";
  }

}